<div class="pf-card pf-contact" style="background-image: url('build/img/nick-mason-hero.png')">
    <img src="build/img/david-gilmour-avatar.png" alt="" class="pf-contact__avatar" />
    <a ng-click="vm.isEditing = !vm.isEditing" class="btn--round pf-contact__edit"><span class="icon-pf-pencil"></span></a>
    <h2 class="pf-contact__name">Richard Wright</h2>
    <div class="form-group">
        <a href="" class="pf-contact__phone" ng-show="!vm.isEditing">{{vm.phone}}</a>
        <input type="text" class="form-control" ng-show="vm.isEditing" name="phone" ng-model="vm.phone" />
    </div>
    <div class="form-group">
        <a href="" class="pf-contact__phone" ng-show="!vm.isEditing">{{vm.mobile}}</a>
        <input type="text" class="form-control" ng-show="vm.isEditing"  name="phone" ng-model="vm.mobile" />
    </div>
    <div class="form-group">
        <a href="" class="pf-contact__phone" ng-show="!vm.isEditing">{{vm.email}}</a>
        <input type="text" class="form-control" ng-show="vm.isEditing" name="phone" ng-model="vm.email" />
    </div>
    <a ng-click="vm.save()" ng-show="vm.isEditing" class="btn">Save</a>
</div>
